@model IndexVM

<div>
    <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="excelFiles" class="form-label">Загрузка файлов Excel</label>
            <input type="file" multiple accept=".xls,.xlsx" class="form-control" name="excelFiles" id="excelFiles">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Вывести таблицу</button>
        </div>

    </form>

    @if (Model != null)
    {
        <form asp-action="Normalization" asp-controller="Home" method="get" enctype="multipart/form-data">
            @if (Model.Status == Status.Excel)
            {
                <div>
                    <button type="submit" class="btn btn-primary">Нормировка</button>
                </div>
            }
            @for (int i = 0; i < Model.Questionnaires.Count; i++)
            {
                <input type="hidden" name="Questionnaires[@i].PersonName" value="@Model.Questionnaires[i].PersonName" />
            }
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                @for (int j = 0; j < Model.Questionnaires.Count; j++)
                {
                    <input type="hidden" name="Questionnaires[@j].ValuesToString[@i]" value="@Model.Questionnaires[j].ValuesToString[i]" />

                }
            }

        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Вопросы</th>

                    @foreach (var item in Model.Questionnaires)
                    {
                        <th>@item.PersonName</th>
                    }
                </tr>
            </thead>

            <tbody>

                @for (int i = 0; i < Model.Rows.Count; i++)
                {
                    <tr>
                        <td>@Model.Rows[i].Question</td>
                        @for (int j = 0; j < Model.Questionnaires.Count; j++)
                        {
                            <td>@Model.Questionnaires[j].ValuesToString[i]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>